html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: VpPixel;
    src: url(../fonts/VPPixel-Simplified.otf);
}

@font-face {
    font-family: Arcade;
    src: url(../fonts/ka1.ttf);
}

#game-title {
    padding-top: 3em;
}

#game-screen {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #canvas {
    width: 90%;
    height: 90%;
} */
canvas {
    border: 1px solid white;
}

#start-game-container {
    background: url(../images/background.jpg) no-repeat center center ;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: self-end;
    width: 30%;
    margin: 2% auto;
    text-align: center;
    color: white;
    font-family: VpPixel;
    margin-top: 5%;
}


.controls img{
    width: 70%;
    margin-right: 2px;
}

.controls p {
    font-size: 1.5em;
}

.start-game-btn {
    padding: 1em 2em;
    border-radius: 0;
    border: 5px solid #d50000;
    background: transparent;
    margin-top: 1em;
    color: #d50000;
    font-size: 1.5em;
    font-family: VpPixel;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}


#main-game-container {
    /* background: url(../images/background.jpg) no-repeat center center ; */
    width: 90%; 
    height: 90%; 
}

#game-over-container {
    background: url(../images/background.jpg) no-repeat center center ;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: arcade;
    color: red;
}

#gameover-msg {
    letter-spacing: 0.2em;
    font-size: 4em;
}

#score-block, #high-score-block{
    font-size: 1.5em;
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    margin-bottom: 0.5em;
}

#highscore, #score {
    color: white;
}

